*.out
*.pyc
*.ipynb
*.png
*.pdf
*.log
*.tiff
*.mp4
*.xml
GDAL-2*
*.h5
*popgen*
*.csv
*.net
*.zip
*.gnumeric
*.npy
*.dat
output/
resources_nie/
resources_NBH/
resources_ger/
poznan_out/
tmpOut*
*.gml
*.hdf5
*.ipy
*.js
*.sh
*.txt
*.pkl
*.txt.part.*
environment
__pycache__
*_prod.py
get
test_old*
